<div class="container container-padding">
  
    <div class="jumbotron about-jumbotron">
        <h1 class="display-5">About us</h1>
        
        <hr class="my-4">
        <p>Great Outdoors (GO) is an electronic distributor of outdoor products. GO sources the products from various manufacturers and supplies it to Retailers across various countries. 
           Due to the lack of intermediaries, GO has been able to price its products very competitively offering significant discounts as compared to its “brick and mortar” rivals. 
           This has helped their revenue grow very rapidly. 
           GO’s gross profit is quite healthy. However, they continue to make investments into the business to drive growth as a result of which their net profit margins are very thin and at times become red as well. 
           So, there is a constant pressure to optimize on costs and enhance profitability so that they can fuel further growth. GO is always looking at opportunities for cost optimization in order to enhance profitability</p>
            
            <p><b>In terms of market presence, we have:</b></p>
            
            
             <ul>
               <li>A strong presence in the Americas</li>
               <li>Have made good inroads in Europe</li>
               <li>Are relatively nonexistent in the emerging economies</li>
             </ul>
           
      </div>

</div>
<app-footer></app-footer>