.container-padding{
  padding-top: 70px;
  padding-bottom: 20px;
}


.category-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 30px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .category-container{
     height: 350px;
     width: 100%;
     text-align: center;
     margin-top: 30px;
     
  }


  .category-container:hover .category-overlay {
    opacity: 0.9;
  }



  .category-image{
    display: block;
    width: 100%;
    height: 350px;
  }

  .category-overlay-text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }