<div class="container-fluid app-header">    
 <div class="row">
   <div class="col-md-6">     
    <img src="../../assets/images/logo.png" class="app-logo-img">           
   </div>
   <div class="col-md-6">
      <div class="row pages-row">
          <div class="col-md-2"></div>
          <div class="col-md-2"><a routerLink="/">HOME</a></div>
          <div class="col-md-2"><a routerLink="/about">ABOUT</a></div>
          <div class="col-md-2"><a routerLink="/contact">CONTACT</a></div>
          <div class="col-md-2"><a routerLink="/cart">CART</a></div>
          <div *ngIf="!isLoggedIn" class="col-md-2"><a routerLink="/login">LOGIN</a></div>
          <div *ngIf="isLoggedIn" class="col-md-2"><a routerLink="/">ACCOUNT</a></div>
      </div>    
   </div>
</div>
</div>