

<!-- <li *ngFor=" let cart of carts">
<ul>{{cart.cartId}}</ul>
<ul>{{cart.userId}}</ul>
<ul>{{cart.productId}}</ul>
<ul>{{cart.quantity}}</ul>
<br><br><br>
</li> -->


<div class="container">
    <div class="row">
      <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">GO ADVENTURE CART 😒 😒 😒 😒 </div>
                  <div class="panel-body">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Product Name</th>
                                  <th>Product Desc</th>
                                  <th>Quantity</th>
                                  <th class="text-center">Price</th>
                                  <th class="text-center">Subtotal</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                          
                              <tr *ngFor=" let cart of carts, let i = index">
                                  <td class="col-md-5">
                                      <h5><strong>{{getProductName(cart.productId)}}</strong></h5>
                                 </td>
                                  <td class="col-md-3">
                                    <h5><strong>{{getProductDesc(cart.productId)}}</strong></h5>
                                  </td>
                                  <td class="col-md-1" style="text-align: center">
                                      <div>
                                        <input [(ngModel)]="cart.quantity" type="number" min="1">
                                      </div>
                                  </td>
                                  <td class="col-md-1 text-center"><strong>{{getProductPrice(cart.productId)| currency:'INR'}}</strong></td>
                                  <td class="col-md-1 text-center"><strong>{{getProductPrice(cart.productId) * cart.quantity | currency:'INR'}}</strong></td>
                                                                  
                                      <td class="col-sm-1 col-md-1">
                                        <!-- <input type="submit" value="Update" class="btn btn-info btn-block">
                                    <button type="button" class="btn btn-danger">
                                          <i class="glyphicon glyphicon-remove"></i>
                                      </button> -->
                                      <button (click)="updateCart(cart.cartId,cart.quantity,getProductPrice(cart.productId) * cart.quantity,i)" type="button" class="btn btn-info btn-block">U</button>
                                      <button (click)="deleteCart(cart.cartId,i)" type="button" class="btn btn-info btn-block btn-danger">X</button>
                                      
                                    </td>
                                
                              </tr>
                          
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                  <td class="text-right"><h5>Total</h5></td>
                                  <td class="text-center"><h5><strong>{{totalCart() | currency : 'INR'}}</strong></h5></td>
                                  <td></td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="row">
                          <div class="col-md-4 col-md-offset-8">
                            <a routerLink="/" class="btn btn-default">
                                Continue Shopping <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                              <a routerLink="/buy" class="btn btn-success">
                                  CheckOut <span class="glyphicon glyphicon-play"></span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
